@model   FClubBarcelona.Models.BindingModels.Message.MessageFromUserBm     
<div class="container">
    <div class="row">
        <div class="contact-form">
            <br />
            <h2 style="font-family: monospace">Contact Us</h2>
            @using (Html.BeginForm("MessageFromUser", "Home", FormMethod.Post))
            {
                <div class="col-md-5 contact-section">
                    @Html.TextBoxFor(x => x.Name, new { placeholder = "Name" })
                    @Html.TextBoxFor(x => x.Email, new { placeholder = "Email" })
                    @Html.TextAreaFor(x => x.Message, new { placeholder = "Message" })'
                    <input type="submit" value="SEND">
                </div>
            }
        </div>
        <div class="col-md-6">
            <img style="width: 100%" src="/Content/MyTemplete/images/barcaL.png"  height="300" alt="b">
        </div>
      </div>
        <div class="clearfix"></div>
    <div class="">
        <div class="company_address">
            <h2 style="font-family: monospace">Location</h2>
            <p style="font-family: monospace"> Spain , Barcelona</p>
            <p style="font-family: monospace">22-56-2-9 catalunya , Camp Now</p>
            <p style="font-family: monospace">Barcelona</p>
            <p style="font-family: monospace">Phone:(00) 222 666 444</p>
            <p style="font-family: monospace">Fax: (000) 000 00 00 0</p>
            <p style="font-family: monospace">Email: <span><a href="">info(at)barcelona.bar</a></span>
            </p>
            <p style="font-family: monospace">Follow on: <span><a href="https://www.facebook.com/fcbarcelona/?fref=ts">Facebook</a></span>, <span><a href="https://twitter.com/FCBarcelona?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">Twitter</a></span>
            </p>
        </div>
        <div class="contact_info">
            <h2 style="font-family: monospace">Find Us Here</h2>
            <div class="">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11974.745900987175!2d2.1228198!3d41.380896!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x44f65330fe1b04b9!2sCamp+Nou!5e0!3m2!1sen!2sbg!4v1493539738519" height="200" frameborder="0" style="border: 0; width: 100%" allowfullscreen></iframe>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>