@model IEnumerable<FClubBarcelona.Models.ViewModels.Home.PlayerViewModel>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="my-4 text-center" style="font-family: monospace">Our Team</h2>
        </div>
        @foreach (var player in Model)
        {
            <div class="col-lg-4 col-sm-6 text-center mb-4">
                <img class="rounded-circle img-fluid mx-auto" src="@Html.DisplayFor(x => player.ImageUrl)" alt="">
                <h3 style="font-family: monospace">
                    @Html.ActionLink(Html.DisplayFor(x => player.FirstName) + " " + Html.DisplayFor(x => player.LastName), "DetailsPlayer", new {lastName = player.LastName})
                </h3>
            </div>
        }
    </div>
   <div class="text-center">@Html.ActionLink("Back to Home", "Index", "Home", null, new { @class = "btn btn-default" })</div>
</div>

