<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="">
                <h1>
                    <br />
                    Oops!
                </h1>
                <h2>
                    Access Denied!
                </h2>
                <br />
                <p>
                    <h4>You are unauthorized to access this page!</h4>
                </p>
                <br />
                <p><img src="/Content/MyTemplete/images/unauthorized.jpg" width="200" height="200" /></p>
                <div>
                    @Html.ActionLink("Go to Home", "Index", "Home", new {Area=""}, new { @class = "btn btn-default" })
                </div>
            </div>
        </div>
    </div>
</div>
